<config>
 <main_database a=5 b=6>
  <hostname>localhost</hostname>
  <dbname>zags</dbname>
  <user>SYSDBA</user>
  <password></password>
 </main_database>
 <rbd>
  <hostname>10.9.4.11</hostname>
  <dbname>ncore-rbd</dbname>
  <user>SYSDBA</user>
  <password></password>
 </rbd>
 <input_path>/home/in/</input_path>
 <input_arc_path>/home/gibdd/in_arc/</input_arc_path>
 <output_path>/home/gibdd/out/</output_path>
 <output_path2>/home/all/gaiout/</output_path2>
</config>
